In [12]:
class vehicle:
    def __init__(self,e,r,p,c):
        self.engine=e
        self.reg=r
        self.price=p
        self.color=c

class car(vehicle):
    def __init__(self,t,pas,s,e,r,p,c):
        self.type=t
        self.passenger=pas
        self.speed=s
        super().__init__(e,r,p,c)

class truck(vehicle):
    def __init__(self,a,l,e,r,p,c):
        self.axles=a
        self.load=l
        super().__init__(e,r,p,c)

car1=car("ev",7,"120kms","1500cc","ap123",45000000,"white")
truck1=truck(3,"75kgs","1200cc","ap456",35000000,"red")
print("car has--\n",car1.type,car1.passenger,car1.speed,car1.engine,car1.reg,car1.price,car1.color)
print("\ntruck has--\n",truck1.load,truck1.axles,truck1.engine,truck1.reg,truck1.price,truck1.color)

car has--
 ev 7 120kms 1500cc ap123 45000000 white

truck has--
 75kgs 3 1200cc ap456 35000000 red

In [18]:
class employee:
    def __init__(self,eid,ename,esal):
        self.emid=eid
        self.emname=ename
        self.emsalary=esal

class staff(employee):
    def __init__(self,ty,ar,eid,ename,esal):
        self.type=ty
        self.area=ar
        super().__init__(eid,ename,esal)

class developer(employee):
    def __init__(self,m,t,e,eid,ename,esal):
        self.mod=m
        self.tech=t
        self.exp=e
        super().__init__(eid,ename,esal)

class manager(employee):
    def __init__(self,pro,cl,eid,ename,esal):
        self.project=pro
        self.client=cl
        super().__init__(eid,ename,esal)

st=staff("a","mothi",17,"kin",450000)
d=developer(5,"ai","5 yrs",18,"nim",7500000)
m=manager(4,"nik",117,"vinnu",5000000)
print("developer has :",d.mod,d.tech,d.exp,d.emid,d.emname,d.emsalary)

developer has : 5 ai 5 yrs 18 nim 7500000

#patterns

In [29]:
n=6
for i in range(0,n):
    for j in range(0,i+1):
        print("*",end="")
    print()

*
**
***
****
*****
******

In [33]:
n=6
for i in range(0,n):
    for j in range(0,n):
        print("*",end="")
    print()

******
******
******
******
******
******

In [43]:
n=7
for i in range(0,n):
    for j in range(0,n):
         if(i==0 or i==n-1 or j==0 or j==n-1):
               print("*",end=" ")
         else:
            print(" ",end=" ")
    print()

* * * * * * *
*           *
*           *
*           *
*           *
*           *
* * * * * * *

In [2]:
n=5
for i in range(0,n+1):
    for j in range(n+1):

SyntaxError: incomplete input (2678533673.py, line 6)